
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path:"../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// @import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~iview/dist/styles/iview.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.sidebar-dark-primary {
  background-color: #13293D;
}

.router-link-exact-active {
  background-color: #1B98E0;
  color: #E8F1F2 !important;
}

.router-link-exact-active:hover {
  background-color: #E8F1F2 !important;
  color: #000 !important;
}
